[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
snscrape = "*"
matplotlib = "*"
pandas = "*"
tqdm = "*"
nltk = "*"
contractions = "*"
emoji = "*"
pyarrow = "*"
gensim = "*"
pyldavis = "*"
numpy = "*"
paramiko = "*"
beautifulsoup4 = "*"
selenium = "*"
langdetect = "*"
statsmodels = "*"
scikit-learn = "*"
xgboost = "*"
hyperopt = "*"
vadersentiment = "*"

[dev-packages]

[requires]
python_version = "3.11"
