[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
snscrape = "*"
matplotlib = "*"
pandas = "*"
tqdm = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
